<%= f.text_field(:name,
                 :placeholder=> "Enter the name of shop........",
                 :class=>"form-control form-control-lg shop-input")%>
<% if f.object.errors.any? %>
  <% f.object.errors.full_messages.each do |message| %>
    <span class="error-msg"><%= message %></span>    
  <% end %>
<% end %>
<%= f.submit("Create Shop",:class=>"btn btn-primary btn-custom btn-lg mt-3" ) %>